<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARCAS</title>
    <link rel="stylesheet" href="css/calsado.css">
</head>
<body>
     <center><img src="img/CATALOGO.png" alt=""></center>
 {{>header}}
  <center><div class="foto"><img src="img/contacto.jpeg" alt=""></div>
            <center><h2 class="nom">Brayan Ulises Morales Rodriguez 4F</h2></center>

           
            <center><div class="con">
                <nav>
                    <ul>
                        <li><a href="http://gmail.com/"><img src="img/mail.png" alt=""></a></li>
                        <li><a href="https://es-la.facebook.com/"><img src="img/face.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/?hl=es-la"><img src="img/insta.png" alt=""></a></li>
                    </ul>
                </nav>
            </div></center>
            </center>
</body>
</html>