<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHATZ</title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <center><img src="img/CATALOGO.png" alt=""></center>
    {{>header}}
    <div class="info">
        <img src="img/zc1.PNG" alt="" class="zapa"><br>
         <h1>$935</h1>
         <br>
         <h2>CHOCLO CASUAL SCHATZ 9301</h2>
         <br>
         <li>MATERIAL:PIEL</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:NEGRO</li>
         <li>ID:871381</li>
         <br>
         <hr>

         <img src="img/zc2.PNG" alt="" class="zapa"><br>
         <h1>$839</h1>
         <br>
         <h2>CHOCLO DE VESTIR SCHATZ 9258</h2>
         <br>
         <li>MATERIAL:SINTETICO</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:NEGRO</li>
         <li>ID:871390</li>
         <br>
         <hr>

         <img src="img/zc3.PNG" alt="" class="zapa"><br>
         <h1>$959</h1>
         <br>
         <h2>CHOCLO DE VESTIR SCHATZ 3793</h2>
         <br>
         <li>MATERIAL:TEXTIL</li>
         <li>TIPO DE CORTE:MOCASIN</li>
         <li>COLOR:AZUL</li>
         <li>ID:871380</li>
         <br>
         <hr>

          <img src="img/zc4.PNG" alt="" class="zapa"><br>
         <h1>$919</h1>
         <br>
         <h2>CHOCLO DE VESTIR SCHATZ 8258</h2>
         <br>
         <li>MATERIAL:TEXTIL</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:NEGRO</li>
         <li>ID:826758</li>
         <br>
         <hr>

          <img src="img/zc5.PNG" alt="" class="zapa"><br>
         <h1>$649</h1>
         <br>
         <h2>CHOCLO DE VESTIR SCHATZ 3903</h2>
         <br>
         <li>MATERIAL:TEXTIL</li>
         <li>TIPO DE CORTE:MOCASIN</li>
         <li>COLOR:NEGRO</li>
         <li>ID:826647</li>
         <br>
         <hr>