<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEXI</title>
    <link rel="stylesheet" href="css/flaxi.css">
</head>
<body>
    <center><img src="img/CATALOGO.png" alt=""></center>
    {{>header}}
    <div class="info">
        <img src="img/zf1.PNG" alt="" class="zapa"><br>
        <h1>$1,449.00 MXN</h1>
        <br>
        <h2>Botín Casual Quirelli 100% De Piel Para Hombre - Estilo 88609 Tan</h2>
        <p>Bota de piel lisa color tan con acabado bitonado. Detalles de pespuntes, ojillos decorativos y ganchos superiores para un perfecto ajuste de las agujetas. Detalle de lengüeta en textura de piel vuelta. Puntera ovalada y cierre en lateral interno. Forro y plantilla en suave piel natural de borrego. Suela bicolor con cerco y pespunte. Resistente y elegante, perfecta para tus escapadas.
        </p>
        <br>
        <li>LÍNEA:CRISTOBAL</li>
        <li>COLOR:TAN</li>
        <li>MATERIAL:PIEL</li>
        <li>CONSTRUCCIÓN:MONTADO PEGADO</li>
        <br>
        <hr>

        <img src="img/zf2.PNG" alt="" class="zapa"><br>
        <h1>$1,039.20 MXN</h1>
        <br>
        <h2>Mocasín Clásico De Vestir Quirelli Con Adorno De Bordo Clásico Para Hombre - Estilo 87903 Negro</h2>
        <p>Mocasín clásico de vestir confeccionado en piel de vacuno negra con acabado de brillo. Adorno de bordo clásico y herraje de tipo estribo. Sin forro y con plantilla en piel natural de vacuno. Suela negra con injerto de cuero.
        </p>
        <br>
        <li>LÍNEA:NUEVA PACAL</li>
        <li>COLOR:NEGRO</li>
        <li>MATERIAL:PIEL</li>
        <li>CONSTRUCCIÓN:GUANTE</li>
        <br>
        <hr>

        <img src="img/zf3.PNG" alt="" class="zapa"><br>
        <h1>$1,279.00 MXN</h1>
        <br>
        <h2>Zapato Oxford Bostoniano Quirelli Con Brillo Natural Para Hombre - Estilo 88602 Negro</h2>
        <p>Zapato oxford bostoniano realizado en piel negra de vacuno con brillo natural. Forro y plantilla en piel natural de borrego. Suela dentada negra con detalle en rojo. Cerco en color café con pespunte.
        </p>
        <br>
        <li>LÍNEA:CRISTOBAL</li>
        <li>COLOR:NEGRO</li>
        <li>MATERIAL:PIEL</li>
        <li>CONSTRUCCIÓN:PEGADO</li>
        <br>
        <hr>
        <img src="img/zf4.PNG" alt="" class="zapa"><br>
        <h1>$764.10 MXN</h1>
        <h2>Sneaker Casual Sport Flexi Con Suela Extra Ligera Para Hombre - Estilo 401206 Azul</h2>
        <br>
        <p>Sneaker urbano casual de agujetas realizado en precioso sintético color azul muy agradable al tacto. Tiene efectos de alto relieve a láser. Forro y plantilla textiles. Suela Extra Ligera de caja blanca con logo Flexi en lateral externo. Un zapato muy trendy, para el hombre urbano
        </p>
        <br>
        <li>LÍNEA:GRIEZMAN</li>
        <li>COLOR:AZUL</li>
        <li>MATERIAL:SINTÉTICO</li>
        <li>CONSTRUCCIÓN:STROBEL PEGADO</li>
        <br>
        <hr>
        <img src="img/zf5.PNG" alt="" class="zapa"><br>
        <h1>$854.10 MXN</h1>
        <h2>Sandalia De Playa Quirelli Con Corte Acojinado Para Hombre - Estilo 701401 Negro</h2>
        <br>
        <p>Excelente sandalia de pata de gallo por la suave piel de vacuno con la que está confeccionada, de color negro con un detalle café. Está acojinada lo que inmediatamente marca la diferencia respecto a cualquier otra sandalia. Plantilla y forro de suavísimo borrego y con Plantilla Anatomic Pad, es el calzado de playa ideal. Suela negra.  
        </p>
        <br>
        <li>LÍNEA:VADER</li>
        <li>COLOR:NEGRO</li>
        <li>MATERIAL:PIEL</li>
        <li>CONSTRUCCIÓN:MONTADO PEGADO</li>
        <br>
        <hr>

        
        <br>
    </div>
    
</body>
</html>