<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATALOGO</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <center><img src="img/CATALOGO.png" alt=""></center>
    {{>header}}
 
 <main>
     <div class="contenedor">
         <div class="img">
             <a href="flaxi.hbs"><img src="img/flexi.jpg" alt=""></a>
         </div>
         <div class="img">
             <a href="http://localhost:3000/polo.hbs"><img src="img/polo.jpg" alt=""></a>
         </div>
         <div class="img">
             <a href="http://localhost:3000/chat.hbs"><img src="img/schatz.jpg" alt=""></a>
         </div>
     </div>
 </main>
</body>
</html>