<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLO</title>
    <link rel="stylesheet" href="css/polo.css">
</head>
<body>
    <center><img src="img/CATALOGO.png" alt=""></center>
    {{>header}}
     <div class="info">
         <img src="img/zp1.PNG" alt="" class="zapa"><br>
         <h1>$519</h1>
         <br>
         <h2>TENIS CASUAL HPC POLO 9042</h2>
         <br>
         <li>MATERIAL:SINTETICO</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:BLANCO</li>
         <li>ID:829696</li>
         <br>
         <hr>

         <img src="img/zp2.PNG" alt="" class="zapa"><br>
         <h1>$695</h1>
         <br>
         <h2>TENIS CASUAL HPC POLO 9042</h2>
         <br>
         <li>MATERIAL:SINTETICO</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:NEGRO</li>
         <li>ID:829697</li>
         <br>
         <hr>

         <img src="img/zp3.PNG" alt="" class="zapa"><br>
         <h1>$701</h1>
         <br>
         <h2>TENIS CASUAL HPC POLO 1602</h2>
         <br>
         <li>MATERIAL:TEXTIL</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:AZUL</li>
         <li>ID:829695</li>
         <br>
         <hr>

          <img src="img/ZP4.PNG" alt="" class="zapa"><br>
         <h1>$623</h1>
         <br>
         <h2>TENIS CASUAL HPC POLO 6030</h2>
         <br>
         <li>MATERIAL:TEXTIL</li>
         <li>TIPO DE CORTE:AGUJETA</li>
         <li>COLOR:NEGRO</li>
         <li>ID:829688</li>
         <br>
         <hr>

          <img src="img/zp5.PNG" alt="" class="zapa"><br>
         <h1>$756</h1>
         <br>
         <h2>TENIS CASUAL HPC POLO 5841</h2>
         <br>
         <li>MATERIAL:TEXTIL</li>
         <li>TIPO DE CORTE:MOCASIN</li>
         <li>COLOR:NEGRO</li>
         <li>ID:182988</li>
         <br>
         <hr>
     </div>
</body>
</html>