<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIOS</title>
    <link rel="stylesheet" href="css/servicios.css">
</head>
<body>
    
    <center><img src="img/CATALOGO.png" alt=""></center>
    {{>header}}
    <div class="titu">
        <center><h1>TU CALZADO IDEAL</h1></center>
    <center><h2>ingresa como te gustaria tu calzado</h2></center>
    </div>
 
 <main>
     <div class="contenedor">
         <div class="info">agrega tu marca favorita</div>
         <div class="info">agrega tu color</div>
         <div class="info">agrega tu talla</div>
         <div class="info">agrega el tipo de material</div>
     </div>
 </main>
</body>
</html>